<!DOCTYPE html>
<html>
    <head>
        <title>maintenance préventive</title>
        <link rel="stylesheet" href="../static/styles.css">
        <link rel="stylesheet" href="../static/style_barre_verticale.css">
        <link rel="stylesheet" href="../static/style_button_hover.css">
        <link rel="stylesheet" href="../static/titres.css">
        <style>
            

        </style>
    </head>
    <body>
        <div class="one">
            <h1>maintenance préventive</h1>
        </div>

        <div class="formulaire">
            <form method="POST">
                <input name="text">
                <input type="submit">
            </form>
        </div>


       
        </div>
        
        

    </body>
</html>





